<p style="color: green"><%= notice %></p>

<%= render @map %>

<div>
  <%= link_to "編集", edit_map_path(@map) %> |
  <%= link_to "一覧へ", maps_path %>

  <%= button_to "削除", @map, method: :delete %>
</div>
